name: Kafka Streams Test

on:
  pull_request:
    branches: [ master ]
  push:

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 8
      - name: Build and Test
        run: sbt -v +test
      - name: Generate Plantuml
        uses: grassedge/generate-plantuml-action@v1.5
